.grid{
    height: 600px;
    width: 400px;
    background: yellow;
    position: relative;
}

.doodler{
    width: 60px;
    height: 85px;
    background-color: red;
    position: absolute;
}

.plateform{
    width: 85px;
    height: 15px;
    background-color: green;
    position: absolute;
}